body {
  direction: rtl;
  unicode-bidi: embed;
}

.en_quote { 
	direction: ltr;
	unicode-bidi: embed;
	font-style: italic;
}

/* Align search results text to the right for RTL languages */
.search-results {
    direction: rtl;
    text-align: right;
}

/* Ensure the highlighted text is also properly aligned */
.highlighted {
    direction: rtl;
}

h1, h2, h3, h4, h5, h6 {
  /* Additional styling if needed */
}