body {
  direction: rtl;
  unicode-bidi: embed;
}

.en_quote { 
	direction: ltr;
	unicode-bidi: embed;
	font-style: italic;
}



h1, h2, h3, h4, h5, h6 {
  /* Additional styling if needed */
}