body {
  direction: rtl;
  unicode-bidi: embed;
}

.en_quote { 
	direction: ltr;
	unicode-bidi: embed;
	font-style: italic;
}

/* Align all search results to the right */
.search-results, .search-results * {
    direction: rtl;
    text-align: right;
}

/* Adjust highlighted text alignment */
.search-results .highlighted {
    direction: rtl;
    background-color: yellow; /* Optional: highlight the text for better testing */
}


h1, h2, h3, h4, h5, h6 {
  /* Additional styling if needed */
}